* {
    padding: 0;    
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #101f17;
}

.cad-prod{
    margin: 0 auto;
    display: flex;
    width: 80vh;    
    justify-content: center;
}

tr:hover{
    background-color: #d2dadd;
}

.linha{
    display: grid;
    width: 70vh;    
}

.linha label{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 90px;
}

img:hover{
    width: 180px;
}

.linha input[type="text"], input[type="number"]{
    padding: 5px;
}

.linha input{
    border: 1px solid #2A553E;
}

.botoes{
    padding-top: 10px;        
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
    display: flex;      
}

.botoes input[type="submit"],input[type="reset"]{
    padding: 10px;
    margin: 5px;
}

.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 5%;
}

.header h2{
    color: #2A553E;
}

thead{
    background-color: #f6f6f6;
}

.btn{
    height: 32px;
    width: 70px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
    font-weight: bolder;
}

.voltar{
    background-color: #f0f0f0;
}

.voltar:hover{
    border: 2px solid #2A553E;
    background-color: #f0f0f0;
    color: #2A553E;
}

.sair{
    background-color: #2A553E;
    border: 2px solid #2A553E;
    color: #fff;
    font-weight: 550;
}
.sair:hover{
    background-color: #f0f0f0;
    border: 2px solid #2A553E;
    color: #2A553E;
}


.btnDel{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
    background-color: #C9A175;
    color: #f0f0f0;
}

.btnDel:hover{
    border: 2px solid #C9A175;
    color: #C9A175;
    background-color: #f0f0f0;
}

#btnEnviar{
    background-color: #2A553E;
    border: 2px solid #2A553E;
    color: #f0f0f0;
    border-radius: 10px;
}

#btnEnviar:hover{
    cursor: pointer;
    color: #2A553E;
    border: 2px solid #2A553E;
    background-color: #f0f0f0;   
}

#btnLimpar{
    cursor: pointer;
    color: #2A553E;
    background-color: #f0f0f0;
    border: none;
}

#btnLimpar:hover{
    border: 2px solid #2A553E;
    border-radius: 10px;
}

.cad-prod label{
    color: #101f17;
}

.btnEdit{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border:2px solid #2A553E;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #2A553E;
}

.btnEdit:hover{
    background-color: #2A553E;
    color: #fff;
    border:2px solid #2A553E;
}


table{
    width: 100%;  
    margin-top: 5%;  
}