.corpo{
    display: flex;
    height: 87vh;
    width: 100vw;
}

.lista{
    background-color: aquamarine;
    width: 40vw;
}

tr{
    align-items: center;
}

table{
    width: 100%;
    padding: 0;
}

#data{
    display: flex;
    width: fit-content;
}

.btnLer{
    text-align: center;
    background-color: #C9A175;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
}