* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #f0f0f0;
    box-sizing: border-box;
    color: #101f17;
}

.color1 {color: #13202b;}
.color2 {color: #0e4d62;}
.color3 {color: #0986a6;}
.color4 {color: #03d0f6;}
.color5 {color: #0ffff8;}

th{
    background-color: #0986a6;
}

#topo{
    text-align: center;
}

table{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

tr{
    background-color: #E0EEEE;    
    width: 1000px;
}

td{
    padding: 2px;
}

tr:hover{
    background-color: #b3b4b4;
}

#divBusca {
    background-color: #f0f0f0;
    border: solid 2px #2A553E;
    border-radius: 10px;
    width: 500px;
    height: 36px;     
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: 0;
    height: 32px;
    width: 380px;    
}

#txtBusca:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btnBusca {
    border: none;
    float: right;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #f0f0f0;
}


.acao{    
    display: flex;
    justify-content: center;
}

#btnBusca:hover{    
    cursor: pointer;
    border: 1px solid #2A553E;
    background-color: #2A553E;
    color: #f0f0f0;
}

#divBusca img {
    float: left;
    width: 5%;
    margin-left: 1%;
}

.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 5%;
}

.header h2{
    color: #2A553E;
}

.btn{
    height: 32px;
    width: 70px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
    font-weight: bolder;
}

.voltar{
    background-color: #f0f0f0;
}

.voltar:hover{
    border: 2px solid #2A553E;
    background-color: #f0f0f0;
}

.sair{
    background-color: #2A553E;
    border: 2px solid #2A553E;
    color: #fff;
    font-weight: 550;
}

.sair:hover{
    background-color: #f0f0f0;
    border: 2px solid #2A553E;
    color: #2A553E;
}

img{
    height: 32px;
}

.corpo{
    display: flex;
    height: 87vh;
    width: 100vw;    
}

.lista{    
    width: 60vw;    
}

.btnLer{
    text-align: center;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: #2A553E;
    font-weight: 600;
    border: 2px solid #2A553E;
}

.btnLer:hover{
    background-color: #2A553E;
    color: #fff;
}

#acaoLer{
    display: flex;
    margin: 0 auto;
}

textarea{
    width: 38vw;
    height: 87vh;
    resize: none;    
}

.menu{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

.item{
    padding: 5px;
}

.btnMenu{
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #2A553E;  
    color: #264b37;  
}

.btnMenu:hover{
    background-color: #2A553E;
    color: #fff;
}

.conteudoClicavel{
    background-color: #fff;
    text-align: center;
}

.cabecalhoTabela{
    text-align: center;
}