.color1 {color: #13202b;}
.color2 {color: #0e4d62;}
.color3 {color: #0986a6;}
.color4 {color: #03d0f6;}
.color5 {color: #0ffff8;}

table{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

tr{
    background-color: #E0EEEE;    
    width: 1000px;
}

td{
    padding: 2px;
}

tr:hover{
    background-color: #b3b4b4;
}

.divCabecalho{
    background-color: #0e4d62;
}

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #03d0f6;
    border-radius: 10px;
    width: 500px;
    height: 32px;     
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: 0;
    height: 32px;
    width: 380px;    
}

#txtBusca:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btnBusca {
    border: none;
    float: right;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #0986a6;
}
#btnBusca:hover{    
    cursor: pointer;
}

#divBusca img {
    float: left;
}

.header{
    display: flex;
    justify-content: space-between;
}

.btn{
    height: 32px;
    width: 70px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
    font-weight: bolder;
}

.voltar{
    background-color: #51d647;
}

.sair{
    background-color: #e61b1b;
}

img{
    height: 32px;
}